@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4f46e5;
  /* indigo-600 */
  --primary-hover: #4338ca;
  /* indigo-700 */
  --secondary: #64748b;
  /* slate-500 */
  --secondary-hover: #475569;
  /* slate-600 */
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ef4444;
  /* red-500 */
  --primary-hover: #dc2626;
  /* red-600 */
  --secondary: #94a3b8;
  /* slate-400 */
  --secondary-hover: #cbd5e1;
  /* slate-300 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}